
<div class="col-md-5 mt-5">
  <div class="input-group">
    <input type="text" class="form-control search-input" placeholder="Tìm kiếm thông tin " [(ngModel)]="searchText">
    <button type="button" class="btn btn-secondary search-button"><i class="fa fa-search text-danger"></i></button>
  </div>
</div>


<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH TRANG THIẾT BỊ CỦA TOÀ NHÀ</h3>
<div class="row">
  <div class="col-md-4 mb-1"><button class="btn btn-dark" [routerLink]="['/equipments/']">Xem trang thiết bị theo mặt bằng</button></div>
</div>
<ng-container>
  <form>
    <table class="table bg-light text-center table-striped">
      <thead class="thead-dark">
      <tr class="text-muted">
        <th style="width: 140px">Loại (<span style="color: red">*</span>)</th>
        <th>Tên thiết bị (<span style="color: red">*</span>)</th>
        <th>Số lượng (<span style="color: red">*</span>)</th>
        <th>Mã mặt bằng (<span style="color: red">*</span>)</th>
        <th>Mã Tầng</th>
        <th>Tên toà nhà</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i = index;let equipment of equipmentModel | filter:searchText | paginate:{id:'listing_pagination',
                                                                            itemsPerPage:5,
                                                                            currentPage:page
                                                                           }; ">

        <td>
          {{equipment.typeEquipment.nameType}}
        </td>
        <td>
          {{equipment.nameEquipment}}
        </td>
        <td >
          {{equipment.amount}}
        </td>
        <td>
          {{equipment.ground.codeGround}}
        </td>
        <td>{{equipment.ground.floor.codeFloor}}</td>
        <td>{{equipment.ground.floor.building.fullName}}</td>
      </tr>
      </tbody>
    </table>
  </form>
</ng-container>




<!--    pagination-->

<pagination-controls class="pagination justify-content-center" id="listing_pagination"  maxSize="5" directionLinks="true" (pageChange)="page = $event" previousLabel="Trang trước"
                     nextLabel="Trang sau" autoHide="true" responsive="true"></pagination-controls>
