<script src="services-list.component.ts"></script><h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH DỊCH VỤ</h3>
<ng-container>
  <div class="col-md-12 mt-5 row" style="margin-bottom: 5%">
    <div class="input-group col-md-10">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-md-3">
            <label>
              <input type="text" class="form-control search-input" placeholder="Tìm theo tên dịch vụ" list="nameService"
                     name="nameService" formControlName="searchNameService">
            </label>
            <datalist id="nameService">
              <option *ngFor="let nameService of servicesDistinct" [value]="nameService"></option>
            </datalist>
          </div>
          <div class=col-md-3>
            <label>
              <input type="text" class="form-control search-input" placeholder="Tìm theo định kỳ" list="periodic"
                     name="periodic" formControlName="searchPeriodic">
            </label>
            <datalist id="periodic">
              <option value="1 tháng">1 tháng</option>
              <option value="3 tháng">3 tháng</option>
              <option value="6 tháng">6 tháng</option>
              <option value="9 tháng">9 tháng</option>
              <option value="12 tháng">12 tháng</option>
            </datalist>
          </div>
          <div class=col-md-3>
            <label>
              <input type="number" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control search-input" placeholder="Tìm theo tiêu thụ" list="consume"
                     name="consume" formControlName="searchConsume" >
            </label>
            <datalist id="consume">
              <option *ngFor="let service of servicesModel" [value]="service.consume"></option>
            </datalist>
          </div>
          <div class="col-md-3" style="margin-top: -1%">
            <label>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Tìm theo ngày tháng"
                       formControlName="searchMonthYear" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </label>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-secondary search-button" (click)="onSearch(0)">
        <i class="fa fa-search text-danger"></i></button>
      <button (click)="resetForm()" class="btn btn-secondary search-button" style="margin-left: 10px">
        <i class="fa fa-refresh" aria-hidden="true"></i></button>
    </div>
  </div>
</ng-container>

<button class="btn btn-success px-2 py-2" (click)="openDialogAddNew()">Thêm mới</button>

<ng-container>
  <form action="" [formGroup]="editServiceForm" *ngIf="editServiceForm">
    <table class="table bg-light text-center table-bordered table-striped">
      <thead class="thead-dark">
      <tr class="text-muted">
        <th>Tên dịch vụ</th>
        <th>Định kỳ</th>
        <th>Đơn vị tính</th>
        <th>Đơn giá</th>
        <th>Tiêu thụ</th>
        <th>Chỉ số tháng trước</th>
        <th>Chỉ số tháng sau</th>
        <th>Ngày tháng</th>
        <th>Tên khách hàng</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <h4 style="color: red;margin-top: 4%">{{message}}</h4>
      <ng-container *ngFor="let i=index;let item of services">
        <tr>
          <!--      Sửa-->
          <!--        Id Hidden-->
          <td *ngIf="checkEdit && item.id===flag" hidden>
            <input formControlName="id" hidden>{{item.id}}
          </td>
          <!--      Tên dịch vụ-->
          <td *ngIf="!checkEdit || item.id!==flag">{{item.nameService}}</td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag">
            <div class="add-row">
              <input class="form-control" formControlName="nameService" placeholder="Tên dịch vụ">
            </div>
          </td>
          <!--      Định kỳ-->
          <td *ngIf="!checkEdit || item.id!==flag">{{item.periodic}}</td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag">
            <select class="form-control" formControlName="periodic">
              <option value="">Chọn định kỳ</option>
              <option value="1 tháng">1 tháng</option>
              <option value="3 tháng">3 tháng</option>
              <option value="6 tháng">6 tháng</option>
              <option value="9 tháng">9 tháng</option>
              <option value="12 tháng">12 tháng</option>
            </select>
          </td>
          <!--        Đơn vị tính-->
          <td *ngIf="!checkEdit || item.id!==flag">{{item.unit}}</td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag">
            <input class="form-control" formControlName="unit" placeholder="Đơn vị tính">
          </td>
          <!--        Đơn giá-->
          <td *ngIf="!checkEdit || item.id!==flag">{{item.price|number}}</td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag" class="add-row">
            <input  type="number" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 ? true : !isNaN(Number(event.key))"
                    class="form-control" formControlName="price" placeholder="Đơn giá">
          </td>
          <!--      Tiêu thụ-->
          <td *ngIf="!checkEdit || item.id!==flag">{{item.consume|number}}</td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag">
            <input  type="text" class="form-control" formControlName="consume"
                   placeholder="Tiêu thụ" disabled>
          </td>
          <!--      Chỉ số tháng trước-->
          <td *ngIf="!checkEdit || item.id!==flag">{{item.indexBeforeMonth|number}}</td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag">
            <input  type="text" class="form-control" formControlName="indexBeforeMonth"
                   placeholder="Chỉ số tháng trước" disabled>
          </td>
          <!--      Chỉ số tháng sau-->
          <td *ngIf="!checkEdit || item.id!==flag">{{item.indexAfterMonth|number}}</td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag">
            <input  type="text" class="form-control" formControlName="indexAfterMonth"
                   placeholder="Chỉ số tháng sau" disabled>
          </td>
          <!--      Ngày tháng-->
          <td  *ngIf="!checkEdit || item.id!==flag">{{item.monthYear|date:'dd/MM/yyyy'}}</td>
          <td style="width: 12%" class="add-row" *ngIf="checkEdit && item.id===flag">
<!--            <input class="form-control" style="float: left;padding-left:2%;width: 70%" placeholder="Ngày tháng"-->
<!--                   type="text" formControlName="monthYear" [matDatepicker]="picker1">-->
<!--            <mat-datepicker-toggle style="float: right" matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>-->
            <input [ngClass]="{'red-border-class': editServiceForm.get('monthYear').invalid && editServiceForm.get('monthYear').touched }"
                   class="form-control infoPlaceholder1" style="float: left" placeholder="Ngày tháng"
                   type="text" formControlName="monthYear" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1" style="margin-left: -25%"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
          </td>
          <!--      Tên khách hàng-->
<!--          {{item.contract.id}}- -->
          <td  *ngIf="!checkEdit  || item.id!==flag">
           {{item.contract.customer.name}}
          </td>
          <td style="width: 12%" *ngIf="checkEdit && item.id===flag">
            <select  class=" form-control" formControlName="contractId">
              <option value="">Chọn tên khách hàng</option>
              <option *ngFor="let contract of contracts" [value]="contract.id">{{contract.customer.name}}</option>
            </select>
          </td>
          <td *ngIf="!checkEdit || item.id!==flag">
            <button class="btn btn-primary" (click)="openInformationCustomer(item.contract.customer.id,item.monthYear)">
              Xem
            </button>
          </td>
          <td *ngIf="!checkEdit || item.id!==flag">
            <button class="btn btn-warning" (click)="checkEditService(item.id)">
              Sửa
            </button>
          </td>
          <td  *ngIf="!checkEdit || item.id!==flag">
            <button class="btn btn-danger" (click)="openDialogDelete(item.id)">
              Xóa
            </button>
          </td>
          <td style="width: 2%" *ngIf="checkEdit && item.id===flag">
            <button class="btn btn-primary" type="button" (click)="editService()"
                    [disabled]="editServiceForm.invalid" style="margin-right: 10px">
              Lưu
            </button>
          </td>
          <td style="width: 2%" *ngIf="checkEdit && item.id===flag">
            <button class="btn btn-danger" type="button" (click)="close()" style="margin-right: 10px">
              Thoát
            </button>
          </td>
          <td *ngIf="checkEdit && item.id===flag"></td>
        </tr>
<!--        Hiện thông báo lỗi-->
        <tr>
          <td *ngIf="checkEdit && item.id===flag">
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('nameService').hasError('required') && editServiceForm.get('nameService').touched">
              Yêu cầu chọn.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('nameService').hasError('minlength') && editServiceForm.get('nameService').touched">
              Tối thiểu 2 ký tự.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('nameService').hasError('maxlength') && editServiceForm.get('nameService').touched">
              Tối đa 25 ký tự.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('nameService').hasError('pattern') && editServiceForm.get('nameService').touched">
              Không nhập số,ký tự đặc biệt.
            </p>
          </td>
          <td *ngIf="checkEdit && item.id===flag">
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('periodic').hasError('required') && editServiceForm.get('periodic').touched">
              Yêu cầu chọn.
            </p>
          </td>
          <td *ngIf="checkEdit && item.id===flag">
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('unit').hasError('required') && editServiceForm.get('unit').touched">
              Yêu cầu nhập.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('unit').hasError('minlength') && editServiceForm.get('unit').touched">
              Tối thiểu 2 ký tự.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('unit').hasError('maxlength') && editServiceForm.get('unit').touched">
              Tối đa 25 ký tự.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('unit').hasError('pattern') && editServiceForm.get('unit').touched">
              Không nhập số,ký tự đặc biệt.
            </p>
          </td>
          <td *ngIf="checkEdit && item.id===flag">
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('price').hasError('required') && editServiceForm.get('price').touched">
              Yêu cầu nhập.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('price').hasError('min') && editServiceForm.get('price').touched">
              Tối thiểu 3000.
            </p>
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('price').hasError('max') && editServiceForm.get('price').touched">
              Tối đa 300000.
            </p>
          </td>
          <td *ngIf="checkEdit && item.id===flag"></td>
          <td *ngIf="checkEdit && item.id===flag"></td>
          <td *ngIf="checkEdit && item.id===flag"></td>
          <td *ngIf="checkEdit && item.id===flag">
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('monthYear').invalid && editServiceForm.get('monthYear').touched">
              Định dạng MM/dd/yyyy.
            </p>
          </td>
          <td *ngIf="checkEdit && item.id===flag">
            <p class="alert alert-danger" role="alert"
               *ngIf="editServiceForm.get('contractId').hasError('required') && editServiceForm.get('contractId').touched">
              Yêu cầu chọn.
            </p>
          </td>
          <td *ngIf="checkEdit && item.id===flag" colspan="3"></td>
        </tr>
        <tr>
      </ng-container>
      </tbody>
    </table>
  </form>
</ng-container>

<!--Thêm mới-->
<ng-container *ngIf="checkAdd">
  <form action="" [formGroup]="addServiceForm" *ngIf="addServiceForm">
    <table >
      <tbody class="border" formArrayName="service"
             *ngFor="let item of serviceControls let i = index;">
      <tr [formGroupName]="i">
        <!--      Tên dịch vụ-->
        <td class="add-row">
          <input [ngClass]="{'red-border-class': item.get('nameService').invalid && item.get('nameService').touched }" class="form-control" formControlName="nameService" placeholder="Tên dịch vụ">
        </td>
        <!--      Định kỳ-->
        <td style="width: 12%" class="add-row">
          <select [ngClass]="{'red-border-class': item.get('periodic').invalid && item.get('periodic').touched }"
                  class="form-control" formControlName="periodic">
            <option value="">Chọn định kỳ</option>
            <option value="1 tháng">1 tháng</option>
            <option value="3 tháng">3 tháng</option>
            <option value="6 tháng">6 tháng</option>
            <option value="9 tháng">9 tháng</option>
            <option value="12 tháng">12 tháng</option>
          </select>
        </td>
        <!--      Đơn vị tính-->
        <td class="add-row">
          <input [ngClass]="{'red-border-class': item.get('unit').invalid && item.get('unit').touched }"
                 class="form-control" formControlName="unit" placeholder="Đơn vị tính">
        </td>
        <!--      Đơn giá-->
        <td class="add-row">
          <input [ngClass]="{'red-border-class': item.get('price').invalid && item.get('price').touched }"
                 type="number" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control" formControlName="price" placeholder="Đơn giá">
        </td>
        <!--      Tiêu thụ-->
        <td class="add-row">
          <input [ngClass]="{'red-border-class': item.get('consume').invalid && item.get('consume').touched }"
                 type="number" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control" formControlName="consume"
                 (keyup)="checkConsume($event.target.value)" placeholder="Tiêu thụ">
        </td>
        <!--      Chỉ số tháng trước-->
        <td class="add-row">
          <input [ngClass]="{'red-border-class': item.get('indexBeforeMonth').invalid && item.get('indexBeforeMonth').touched }"
                 type="number" onkeydown="javascript: return event.keyCode === 8 ||
event.keyCode === 46 ? true : !isNaN(Number(event.key))" class="form-control" formControlName="indexBeforeMonth"
                 (keyup)="checkIndexBeforeMonth($event.target.value)" placeholder="Chỉ số tháng trước">
        </td>
        <!--     Chỉ số tháng sau-->
        <td class="add-row" hidden>
          <input type="number" class="form-control" formControlName="indexAfterMonth"
                 [(ngModel)]="indexAfterMonth">
        </td>
        <!--        Ngày tháng-->
        <td class="add-row">
          <input [ngClass]="{'red-border-class': item.get('monthYear').invalid && item.get('monthYear').touched }"
                 class="form-control infoPlaceholder1" style="float: left" placeholder="Ngày tháng"
                 type="text" formControlName="monthYear" [matDatepicker]="picker1" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker1" style="margin-left: -25%"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
        </td>
        <!--        Tên khách hàng-->
        <td class="add-row">
          <select [ngClass]="{'red-border-class': item.get('contractId').invalid && item.get('contractId').touched }"
                  class=" form-control" formControlName="contractId">
            <option value="">Chọn tên khách hàng</option>
            <option *ngFor="let contract of contracts" [value]="contract.id">{{contract.id}}
              -{{contract.customer.name}}</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeService(i)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <!--      Hiện thông báo lỗi thêm mới-->
      <tr>
        <!--        Tên dịch vụ-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('nameService').errors?.required &&
               item.get('nameService').touched">
            Yêu cầu nhập.
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="(item.get('nameService').errors?.minlength ||item.get('nameService').errors?.pattern||item.get('nameService').errors?.maxlength)&&
               item.get('nameService').touched">
            Nhập lỗi
          </p>
        </td>
        <!--        Định kỳ-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('periodic').invalid && item.get('periodic').touched">
            Yêu cầu chọn.
          </p>
        </td>
        <!--        Đơn vị tính-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('unit').errors?.required &&
               item.get('unit').touched">
            Yêu cầu nhập.
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="(item.get('unit').errors?.minlength ||item.get('unit').errors?.pattern||item.get('unit').errors?.maxlength)&&
               item.get('unit').touched">
            Nhập lỗi
          </p>
        </td>
        <!--        Đơn giá-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('price').errors?.required &&
               item.get('price').touched">
            Yêu cầu nhập.
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('price').errors?.min &&
               item.get('price').touched">
            Nhập lỗi
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('price').errors?.max &&
               item.get('price').touched">
            Nhập lỗi
          </p>
        </td>
        <!--        Tiêu thụ-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('consume').errors?.required &&
               item.get('consume').touched">
            Yêu cầu nhập.
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('consume').errors?.min &&
               item.get('consume').touched">
            Nhập lỗi
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('consume').errors?.max &&
               item.get('consume').touched">
            Nhập lỗi
          </p>
        </td>
        <!--        Chỉ số tháng trước-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('indexBeforeMonth').errors?.required &&
               item.get('indexBeforeMonth').touched">
            Yêu cầu nhập.
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('indexBeforeMonth').errors?.min &&
               item.get('indexBeforeMonth').touched">
            Nhập lỗi
          </p>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('indexBeforeMonth').errors?.max &&
               item.get('indexBeforeMonth').touched">
            Nhập lỗi
          </p>
        </td>
        <!--        Ngày tháng-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('monthYear').invalid && item.get('monthYear').touched">
            Yêu cầu chọn.
          </p>
        </td>
        <!--        Tên khách hàng-->
        <td>
          <p class="alert alert-danger" role="alert"
             *ngIf="item.get('contractId').invalid && item.get('contractId').touched">
            Yêu cầu chọn.
          </p>
        </td>
      </tr>
      <!--      Hiện chi tiết lỗi-->
      <tr>
        <td>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('nameService').errors?.minlength &&
               item.get('nameService').touched">
            Tối thiểu 2 ký tự.
          </p>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('nameService').errors?.maxlength &&
               item.get('nameService').touched">
            Tối đa 25 ký tự.
          </p>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('nameService').errors?.pattern &&
               item.get('nameService').touched">
            Không nhập số,ký tự đặc biệt.
          </p>
        </td>
        <td></td>
        <td>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('unit').errors?.minlength &&
               item.get('unit').touched">
            Tối thiểu 2 ký tự.
          </p>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('unit').errors?.maxlength &&
               item.get('unit').touched">
            Tối đa 25 ký tự.
          </p>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('unit').errors?.pattern &&
               item.get('unit').touched">
            Không nhập số,ký tự đặc biệt.
          </p>
        </td>
        <td>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('price').errors?.min &&
               item.get('price').touched">
            Tối thiểu 3000.
          </p>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('price').errors?.max &&
               item.get('price').touched">
            Tối đa 300000.
          </p>
        </td>
        <td>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('consume').errors?.min &&
               item.get('consume').touched">
            Tối thiểu 10000.
          </p>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('consume').errors?.max &&
               item.get('consume').touched">
            Tối đa 3000000.
          </p>
        </td>
        <td>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('indexBeforeMonth').errors?.min &&
               item.get('indexBeforeMonth').touched">
            Tối thiểu 10000.
          </p>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('indexBeforeMonth').errors?.max &&
               item.get('indexBeforeMonth').touched">
            Tối đa 9000000.
          </p>
        </td>
        <td>
          <p class="alert alert-primary" role="alert"
             *ngIf="item.get('monthYear').invalid && item.get('monthYear').touched">
            Định dạng MM/dd/yyyy
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</ng-container>

<button class="btn btn-success" (click)="addNewArray()">
  <i class="fa fa-plus-square" aria-hidden="true"></i>
</button>
<button class="btn btn-info" *ngIf="checkAdd" [disabled]="addServiceForm.invalid" (click)="addNewService()">
  Lưu
</button>


<nav aria-label="Page navigation example" *ngIf="services.length!=0 && totalPages >1">
  <ul class="pagination justify-content-md-center mt-3">
    <li class="page-item" *ngIf="pageClicked!=0" (click)="onFirst()"><a class="page-link">Trang đầu</a></li>
    <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
      <a class="page-link"><<</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" (click)="loadData(page)"
        [ngClass]="pageClicked == page ? 'active' : ''">
      <a class="page-link">{{page + 1}}</a>
    </li>
    <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
      <a class="page-link">>></a>
    </li>
    <li class="page-item" *ngIf="pageClicked!=totalPages-1" (click)="onLast()"><a class="page-link">Trang cuối</a></li>
  </ul>
</nav>




