
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../../src/assets/image/anh1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
  width: 300px;
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.active1,.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;

}
.active1{
  background: chocolate;
  border-radius: 5px;
}
.sidebar-link {
  transition: all .4s;
}

.sidebar-title{
  font-size: 85%;
}

.current {
  background-color: #f44336;
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s;
}

.current:hover {
  background-color: #f66436;
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-5px);
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all .4s;
}

.search-button-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}

.icon-parent {
  position: relative;
}

.icon-bullet::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 15px;
  height: 12px;
  width: 12px;
  background-color: #f44336;
  border-radius: 50%;
}
.icon-size{
  height: 19px;
  width: 19px;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .top-navbar{
    position: static;
  }
}

/*end of navbar*/
/*card*/
.card-common{
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
}
.card-common:hover{
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}
mat-dialog-container{
  background-color: #E8D8F3;

}
/*end card*/

