
<div class="col-md-5 mt-5">
  <div class="input-group">
    <input type="text" class="form-control search-input" placeholder="Tìm kiếm thông tin " [(ngModel)]="searchText">
    <button type="button" class="btn btn-secondary search-button"><i class="fa fa-search text-danger"></i></button>
  </div>
</div>

<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH TRANG THIẾT BỊ CỦA MẶT BẰNG</h3>

<ng-container>
  <div class="row col-md-12 mt-5">
    <div class="col-md-10">
      <form [formGroup]="searchForm" action="/paging">
        <div class="row">
          <div class="col-md-3">
            <label>
              <input type="text" class="form-control search-input" placeholder="Tìm kiếm theo loại thiết bị"
                     formControlName="searchTypeEquipment" list="types">
            </label>
            <datalist id="types" >
              <option *ngFor="let type of typeEquipment" [value]="type.nameType"></option>
            </datalist>
          </div>
          <div class="col-md-3">
            <label>
              <input type="text" class="form-control search-input" placeholder="Tìm kiếm theo tên thiết bị" formControlName="searchNameEquipment">
            </label>
          </div>
          <div class="col-md-3">
            <label>
              <input type="number" class="form-control search-input" placeholder="Số lượng >= x" formControlName="searchAmount" min="0">
            </label>
          </div>
          <div class="col-md-3">
            <label>
              <input type="text" class="form-control search-input" placeholder="Tìm kiếm theo mã mặt bằng"
                     formControlName="searchCodeGround" list="grounds" name="grounds">
            </label>
            <datalist id="grounds">
              <option *ngFor="let ground of grounds" [value]="ground.codeGround"></option>
            </datalist>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-secondary search-button" (click)="onSearch(0)">
        <i class="fa fa-search"></i>
      </button>
      <button (click)="resetForm()" class="btn btn-secondary search-button" style="margin-left: 10px"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    </div>
  </div>
</ng-container>

<ng-container>
  <button class="btn btn-success mb-1" (click)="openDialogAddNew()">Thêm Mới</button>
</ng-container>

<ng-container>
  <form action="" [formGroup]="formEditEquipment"  *ngIf="formEditEquipment">
    <table class="table bg-light text-center table-striped">
      <thead class="thead-dark">
      <tr class="text-muted">
<!--        <th>STT</th>-->
        <th style="width: 140px">Loại (<span style="color: red">*</span>)</th>
        <th>Tên thiết bị (<span style="color: red">*</span>)</th>
        <th>Số lượng (<span style="color: red">*</span>)</th>
        <th>Số lượng hỏng (<span style="color: red">*</span>)</th>
        <th>Ghi chú</th>
        <th>Mã mặt bằng (<span style="color: red">*</span>)</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i = index;let equipment of equipmentModel | filter: searchText ">
<!--        <td>{{(i + 1) + (page - 1) * 5}}</td>-->
        <td *ngIf="!checkEdit ||  equipment.id!==flag">
          {{equipment.typeEquipment.nameType}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <select class="form-control" formControlName="typeEquipmentId" style="width:120px">
            <option *ngFor="let type of typeEquipment" [value]="type.id">{{type.nameType}}</option>
          </select>
          <p class="text-danger"
             *ngIf="formEditEquipment.get('typeEquipmentId').invalid && formEditEquipment.get('typeEquipmentId').touched">
            Loại không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit ||  equipment.id!==flag">
          {{equipment.nameEquipment}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="nameEquipment">
          <p class="text-danger"
             *ngIf="formEditEquipment.get('nameEquipment').invalid && formEditEquipment.get('nameEquipment').touched">
            Tên thiết bị không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag ">
          {{equipment.amount}} (cái)
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input  [(ngModel)]="amountCheck" type="text" class="form-control" formControlName="amount" value="{{equipment.amount}}" (change)="checkAmount(amountCheck,amountOfBrokenCheck)">
          <p class="text-danger"
             *ngIf="formEditEquipment.get('amount').hasError('required') &&formEditEquipment.get('amount').invalid && formEditEquipment.get('amount').touched">
            Số lượng không được để trống!
          </p>
          <p class="text-danger"
             *ngIf="formEditEquipment.get('amount').hasError('pattern') &&formEditEquipment.get('amount').invalid && formEditEquipment.get('amount').touched">
            Số lượng phải là số!
          </p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.amountOfBroken}} (cái)
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input [(ngModel)]="amountOfBrokenCheck" type="number" class="form-control" formControlName="amountOfBroken" value="{{equipment.amountOfBroken}}" (change)="checkAmount(amountCheck,amountOfBrokenCheck)">
          <p *ngIf="messageValidate" class="text-danger">{{messageValidate}}</p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.note}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="note" value="{{equipment.note}}">
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.ground.codeGround}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <select class="form-control" formControlName="groundId" style="width:120px">
            <option *ngFor="let ground of grounds" [value]="ground.id">{{ground.codeGround}}</option>
          </select>
          <p class="text-danger"
             *ngIf="formEditEquipment.get('groundId').invalid && formEditEquipment.get('groundId').touched">
            Mã mặt bằng không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          <button class="btn btn-warning" type="button" (click)="checkEditEquipment(equipment.id)">
            Sửa
          </button>
        </td>
          <td *ngIf="!checkEdit || equipment.id!==flag">
            <button class="btn btn-danger" type="button" (click)="openDialogDelete(equipment.id)">
              Xoá
            </button>
          </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <button class="btn btn-primary" type="button" (click)="editEquipment()" [disabled]="formEditEquipment.invalid">
           Lưu
          </button>
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <button class="btn btn-danger" type="button" (click)="close()">
            Thoát
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</ng-container>
<div *ngIf="equipmentModel.length == 0" style="color: red; text-align: center; font-size: 22px"> Không tìm thấy kết quả phù hợp !</div>
<ng-container *ngIf="checkAdd">
  <form action="" [formGroup]="formAddNewEquipment" *ngIf="formAddNewEquipment">
      <tbody class="border" formArrayName="equipment"
             *ngFor="let equipment of equipmentControls; let i = index;">
      <tr [formGroupName]="i">
        <td>
          <select [ngClass]="{'red-border-class': equipment.get('typeEquipmentId').invalid && equipment.get('typeEquipmentId').touched }"
                  class="form-control" formControlName="typeEquipmentId" style="width:150px">
            <option>Vui lòng chọn:</option>
            <option *ngFor="let type of typeEquipment,let i=index" [value]="type.id">{{i+1}}.{{type.nameType}}</option>
          </select>
        </td>
        <td>
          <input [ngClass]="{'red-border-class': equipment.get('nameEquipment').invalid && equipment.get('nameEquipment').touched}"
                 type="text" class="form-control" formControlName="nameEquipment" required placeholder="Tên thiết bị">

        </td>
        <td>
          <input [ngClass]="{'red-border-class': equipment.get('amount').invalid && equipment.get('amount').touched }"
                 type="text" class="form-control" formControlName="amount" required placeholder="Số lượng">

        </td>
        <td hidden>
          <input type="number" class="form-control" formControlName="amountOfBroken" value="0" >
        </td>
        <td>
          <input type="text" class="form-control" formControlName="note" placeholder="Ghi chú">
        </td>
        <td>
          <select [ngClass]="{'red-border-class': equipment.get('groundId').invalid && equipment.get('groundId').touched}"
                  class="form-control" formControlName="groundId" style="width:150px;">
            <option>Vui lòng chọn:</option>
            <option *ngFor="let ground of grounds,let i=index" [value]="ground.id">{{i+1}}.{{ground.codeGround}}</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <p class="text-danger"
             *ngIf="equipment.get('typeEquipmentId').invalid && equipment.get('typeEquipmentId').touched">
            Loại không được để trống!
          </p>
        </td>
        <td>
          <p class="text-danger"
             *ngIf="equipment.get('nameEquipment').invalid && equipment.get('nameEquipment').touched">
            Tên thiết bị không được để trống!
          </p>

        </td>
        <td>
          <p class="text-danger"
             *ngIf="equipment.get('amount').errors?.required && equipment.get('amount').touched">
            Số lượng không được để trống!
          </p>
          <p class="text-danger"
             *ngIf="equipment.get('amount').errors?.pattern && equipment.get('amount').touched">
            Số lượng phải là số!
          </p>
        </td>
        <td>

        </td>
        <td>
          <p class="text-danger"
             *ngIf="equipment.get('groundId').invalid && equipment.get('groundId').touched">
            Mã mặt bằng không được để trống!
          </p>
        </td>
      </tr>
      </tbody>
  </form>

</ng-container>

<button class="btn btn-success px-4 py-2 mr-2" (click)="addNewArray()" >  <i class="fa fa-plus-square" aria-hidden="true"></i></button>

<button style="position: absolute;left: 92%;" class="btn btn-info px-4 py-2 mr-2 " (click)="addNewEquipment()" [disabled]="formAddNewEquipment.invalid">Lưu</button>

<nav aria-label="Page navigation example" *ngIf="equipmentModel.length!=0 && totalPages>1">
  <ul class="pagination justify-content-md-center mt-3">
    <li class="page-item" (click)="onFirst()"><a class="page-link">Trang đầu</a></li>
    <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
      <a class="page-link"><<</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" (click)="loadData(page)"
        [ngClass]="pageClicked == page ? 'active' : ''">
      <a class="page-link" (click)="checkPages(page)">{{page + 1}}</a>
    </li>
    <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
      <a class="page-link">>></a>
    </li>
    <li class="page-item" (click)="onLast()"><a class="page-link">Trang cuối</a></li>
  </ul>
</nav>
