.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #eed8de;
  transition: all .4s;
  margin-right: 20px;
  width: 243px;
}
.infoPlaceholderSearch::-webkit-input-placeholder {
  font-size: 80%;

}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all .4s;

}
.form-control{
  width: 200px !important;
}

.search-button-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}
table thead  th,td{
  vertical-align: middle;
}
table {
  white-space: nowrap;
}

