.thead-secondary tr th {
  font-size: 12px;
}

.trInvoice{
  font-size: 11px;
}
 label {
   font-weight: bolder;
 }

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 38px;
  height: 100%;
  width: 100%;
}
