<div id="modal-content-wrapper" class="d-fex justify-content-center">
  <h1 id="modal-title">Xóa thông tin tầng lầu</h1>
  <section id="modal-body">
    <p style="color: red">Xác nhận xóa tầng có id là <span
      class="text-primary font-weight-bold">{{floorId}}</span> và tên tầng lầu là <span
      class="text-primary font-weight-bold">{{floorName}}</span> không? <br> Lưu ý: Xóa xong không thể hoàn tác!!!</p>
  </section>
  <div class="row d-flex justify-content-end">
    <button mat-raised-button class="btn btn-danger mr-3" id="modal-action-button" (click)="deleteFloor()">Xác nhận</button>
    <button mat-raised-button class="btn btn-warning mr-3" id="modal-cancel-button" mat-dialog-close>Hủy</button>
  </div>
</div>
