
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #eed8de;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all .4s;
}

.search-button-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}
/*.btn{*/
/*  width: 54px;*/
/*  height: 29px;*/
/*}*/
table thead  th,td{
vertical-align: middle;
}

.infoPlaceholder::-webkit-input-placeholder {
  font-weight: lighter;
  color:#AFB2B3;
}
.add-row{
  padding: 0 !important;
}
.text-danger{
  font-size:inherit;
}
.form-control{
  width: 200px !important;
}
.infoPlaceholder1::-webkit-input-placeholder {
  padding-left: 20px;

}
.red-border-class{
  border:2px solid red;

}
