<div class="container">
  <form [formGroup]="addServiceForm">
    <h1>Thêm mới thông tin Dịch vụ</h1>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Thêm mới dịch vụ</legend>
      <!--      Tên dịch vụ-->
      <div class="row">
        <p class="col-md-3">Tên dịch vụ(<span>*</span>)</p>
        <input class="col-md-5 form-control" formControlName="nameService">
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('nameService').hasError('required')
       && addServiceForm.get('nameService').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--      Định kỳ-->
      <div class="row">
        <p class="col-md-3">Định kỳ(<span>*</span>)</p>
        <select class="col-md-5 form-control" formControlName="periodic" style="width: 150px">
          <option value="">Chọn</option>
          <option value="1 tháng">1 tháng</option>
          <option value="3 tháng">3 tháng</option>
          <option value="6 tháng">6 tháng</option>
          <option value="9 tháng">9 tháng</option>
          <option value="12 tháng">12 tháng</option>
        </select>
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('periodic').hasError('required')
       && addServiceForm.get('periodic').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--     Đơn vị tính-->
      <div class="row">
        <p class="col-md-3">Đơn vị tính(<span>*</span>)</p>
        <input class="col-md-5 form-control" formControlName="unit">
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('unit').hasError('required')
       && addServiceForm.get('unit').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--      Đơn giá-->
      <div class="row">
        <p class="col-md-3">Đơn giá(VND)(<span>*</span>)</p>
        <input class="col-md-5 form-control" type="number" formControlName="price">
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('price').hasError('required')
       && addServiceForm.get('price').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--      Chỉ số tháng trước-->
      <div class="row">
        <p class="col-md-3">Chỉ số tháng trước(<span>*</span>)</p>
        <input class="col-md-5 form-control" type="number" formControlName="indexBeforeMonth"
               (keyup)="checkIndexBeforeMonth($event.target.value)">
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('indexBeforeMonth').hasError('required')
       && addServiceForm.get('indexBeforeMonth').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--      Tiêu thụ-->
      <div class="row">
        <p class="col-md-3">Tiêu thụ(<span>*</span>)</p>
        <input class="col-md-5 form-control" type="number" formControlName="consume"
               (keyup)="checkConsume($event.target.value)">
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('consume').hasError('required')
       && addServiceForm.get('consume').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--      Chỉ số tháng sau-->
      <div class="row">
        <p class="col-md-3">Chỉ số tháng sau(<span>*</span>)</p>
        <input class="col-md-5 form-control"
               type="number" formControlName="indexAfterMonth" disabled [(ngModel)]="indexAfterMonth">
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('indexAfterMonth').hasError('required')
       && addServiceForm.get('indexAfterMonth').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--      Ngày tháng-->
      <div class="row">
        <p class="col-md-3">Ngày tháng(<span>*</span>)</p>
        <input class=" col-md-5 form-control" style="float: left"
               type="text" formControlName="monthYear" [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1" style="float: left;margin-left: -5%;margin-top: -1%"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>


        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('monthYear').hasError('required')
       && addServiceForm.get('monthYear').valueChanges">Không được để trống !!!
        </p>
      </div>
      <!--      Tên khách hàng-->
      <div class="row">
        <p class="col-md-3">Tên khách hàng(<span>*</span>)</p>
        <select class="col-md-5 form-control" formControlName="contractId">
          <option value="">Chọn</option>
          <option *ngFor="let contract of contracts" [value]="contract.id">{{contract.id}}
            -{{contract.customer.name}}</option>

        </select>
        <p class=" text-danger" role="alert" *ngIf="addServiceForm.get('contractId').hasError('required')
       && addServiceForm.get('contractId').valueChanges">Không được để trống !!!
        </p>
      </div>
    </fieldset>
    <label class="row " style="margin-left: 70%;margin-top: 5%">
      <button style="margin-right: 15%" class="btn btn-success mt-3" (click)="onAddService()">
        Lưu
      </button>
      <button class="btn btn-danger mt-3" (click)="clearFilters()">Làm lại</button>
    </label>
  </form>
</div>















