<h3 class="text-muted text-center mb-3 mt-5">CHI TIẾT HỢP ĐỒNG</h3>

<form class="col-md-12">
  <fieldset class="scheduler-border" >
    <legend class="scheduler-border">Thông tin khách hàng</legend>
    <div class="control-group">
      <label class="row" >
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Tên khách hàng: </span>
          <div>
            <input type="text" class="form-control col-md-7" value="{{customer.name}}" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">CMND:</span>
          <input type="text" class="form-control col-md-7" value="{{customer.idCard}}" disabled>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Địa chỉ KH:</span>
          <input type="text" class="form-control col-md-7" value="{{customer.address}}" disabled>
        </div>
      </label>
      <label class="row" >
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Ngày sinh: </span>
          <div>
            <input type="text" class="form-control col-md-7" value="{{customer.birthday|date:formatsDate}}"
                   disabled>
          </div>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Email KH:</span>
          <input type="text" class="form-control col-md-7" [value]="customer.email" disabled>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Số điện thoại KH:</span>
          <input type="text" class="form-control col-md-7" [value]="customer.phone" disabled>
        </div>
      </label>
    </div>
  </fieldset>


  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Thông tin hợp đồng</legend>
    <div class="control-group">
      <label class="row">
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Mã số thuế:</span>
          <input type="text" class="form-control col-md-7" [value]="contract.taxCode" disabled>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Trạng thái hợp đồng:</span>
          <input type="text" class="form-control col-md-7" value="{{statusContract}}" disabled>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Mã Mặt Bằng:</span>
          <input type="button" class="form-control col-md-7" style="color: blue;text-align: left"
                 (click)="openDialogView(ground.id)" [value]="ground.codeGround">
        </div>
      </label>
      <label class="row">
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Kì Hạn :</span>
          <div>
            <input type="text" class="form-control col-md-7" value="{{contract.term}} tháng" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Ngày bắt đầu:</span>
          <input type="text" class="form-control col-md-7" value="{{contract.startRentDay| date: formatsDate}}" disabled>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Ngày kết thúc:</span>
          <input type="text" class="form-control col-md-7" value="{{contract.endRentDay | date: formatsDate}}" disabled>
        </div>
      </label>
      <label class="row">
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Giá tiền mỗi tháng:</span>
          <input type="text" class="form-control col-md-7" value="{{contract.price|number}} VNĐ" disabled>
        </div>
        <div class="col-md-4" >
          <!--        <span class="col-md-5" style="font-weight: bold">Tổng tiền:</span>-->
          <!--        <input type="text" class="form-control col-md-7" value="{{contract.total|number}}" disabled>-->
          <button type="button" class="btn btn-primary mt-4" >
            <span class="badge badge-light" style="font-size: 12pt;">Tổng Tiền: {{contract.price|number}} VNĐ</span>
            <!--           <span class="badge badge-light ml-3 display-1"  >Tổng Tiền: {{contract.price|number}} VNĐ</span>-->
          </button>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Tiền đặt cọc:</span>
          <input type="text" class="form-control col-md-7" value="{{contract.deposits}} VNĐ" disabled>
        </div>
      </label>
    </div>
  </fieldset>


  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Thông tin nhân viên</legend>
    <div class="control-group">

      <label class="row">
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Nhân viên:</span>
          <input type="text" class="form-control col-md-7" [value]="employee.name" disabled>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">SĐT Nhân Viên:</span>
          <input type="text" class="form-control col-md-7" value="{{employee.phone}}" disabled>
        </div>
        <div class="col-md-4">
          <span class="col-md-5" style="font-weight: bold">Email Nhân Viên:</span>
          <input type="text" class="form-control col-md-7" value="{{employee.email}}" disabled>
        </div>
      </label>

    </div>
  </fieldset>


  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Nội dung hợp đồng</legend>
    <div class="control-group">
      <label class="row" class="row" >
<!--        <div class="col-md-12">-->
<!--          <span class="col-md-5" style="font-weight: bold">Nội dung hợp đồng:</span>-->
<!--        </div>-->
        <div class="col-md-12" style="margin-top: 15px">
          <textarea rows="5" type="text" class="form-control col-md-11" value="{{contract.content}} " disabled></textarea>
        </div>


      </label>
    </div>
  </fieldset>











    <label class="row">
      <div class="col-md-4">
        <input type="checkbox" disabled checked="{{contract.unified}}"> Hai bên đã thống nhất với hợp đồng
      </div>
    </label>

  <label class="row">
    <div class="col-md-12">
      <span class="col-md-5" style="font-weight: bold">Hình ảnh hợp đồng:</span>
      <img src="{{contract.urlImage}}" alt="">
<!--      <a (click)="goToLink()" style="color: blue">Bấm vào để xem</a>-->
    </div>
  </label>

  <div class="form-group d-flex justify-content-center">
    <button class="btn btn-danger mt-3" routerLink="/contracts/paging" style="font-weight: bold">
      Quay về
    </button>
  </div>
  <button class="btn btn-dark"><a href="http://localhost:8080/contracts/export/{{contractID}}" target='_blank'>In thành
    PDF</a>
  </button>
</form>

