<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH MẶT BẰNG</h3>

<div class="col-md-12 mt-5 row" style="margin-bottom: 5%">
  <div class=" input-group col-md-10">
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col-md-3">
          <label>
            <input type="text" class="form-control search-input" placeholder="Tìm kiếm theo tên tầng"
                   list="nameFloor" name="nameFloor" formControlName="searchNameFloor">
          </label>
          <datalist id="nameFloor">
            <option *ngFor="let floor of floors" [value]="floor.nameFloor">{{floor.building.fullName}}</option>
          </datalist>
        </div>
        <div class="col-md-3">
          <label>
            <input type="text" class="form-control search-input" placeholder="Tìm kiếm theo mã mặt bằng"
                   list="codeGround" name="codeGround" formControlName="searchCodeGround">
          </label>
          <datalist id="codeGround">
            <option *ngFor="let ground of grounds1" [value]="ground.codeGround"></option>
          </datalist>
        </div>
        <div class="col-md-3">
          <label>
            <input type="text" class="form-control search-input" placeholder="Tìm kiếm theo diện tích"
                   formControlName="searchArea">
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <input type="text" class="form-control search-input" placeholder="Tìm kiếm theo loại mặt bằng"
                   list="nameTypeGround" name="nameTypeGround" formControlName="searchNameTypeGround">
          </label>
          <datalist id="nameTypeGround">
            <option *ngFor="let typeGround of typeGrounds" [value]="typeGround.nameTypeGround"></option>
          </datalist>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-secondary search-button" (click)="onSearch(0)">
      <i class="fa fa-search text-danger"></i></button>
    <button (click)="resetForm()" class="btn btn-secondary search-button" style="margin-left: 10px">
      <i class="fa fa-refresh" aria-hidden="true"></i></button>
  </div>
</div>
<div class="row">
  <span style="margin-right: 1%;margin-left: 1%"><button (click)="openDialogAddNew()" class="btn btn-success px-2 py-2">Thêm mới</button></span>
  <span><button class="btn btn-danger  px-2 py-2 " (click)="deleteAll()">Xoá tất cả</button></span>
  <div class="dropdown open col-md-2">
    <button class="btn btn-dark px-2 py-2 dropdown-toggle" type="button"
            id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      Tên tầng
    </button>
    <div class="dropdown-menu" aria-labelledby="triggerId" style="overflow-y: scroll;height: 200px">
      <a class="dropdown-item" *ngFor="let floor of floors"
         (click)="searchType(floor.nameFloor)"><span
        style="color: red">{{floor.nameFloor}}</span><br>{{floor.building.fullName}}</a>
    </div>
  </div>
</div>

<table class="table bg-light text-center table-striped">

  <thead class="thead-dark">
  <tr class="text-muted">
    <!--      <th>STT</th>-->
    <th><p>Mã mặt bằng(<span style="color: red">*</span>):</p></th>
    <th><p>Loại mặt bằng(<span style="color: red">*</span>):</p></th>
    <th><p>Diện tích(<span style="color: red">*</span>):</p></th>
    <th><p>Trạng thái(<span style="color: red">*</span>):</p></th>
    <th><p>Giá bán(<span style="color: red">*</span>):</p></th>
    <th><p>Phí quản lý(<span style="color: red">*</span>):</p></th>
    <th><p>Khách hàng(<span style="color: red">*</span>):</p></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <h4 style="color: red;margin-top: 4%">{{message}}</h4>
  <tbody>
  <tr *ngFor="let i=index;let item of grounds">
    <!--      |filter:searchText | paginate:{id:'listing_pagination',-->
    <!--                                                                            itemsPerPage:5,-->
    <!--                                                                            currentPage:page-->
    <!--      }-->
    <!--      <td>{{(i+1)+(page-1)*5}}</td>-->
    <td>{{item.codeGround}}</td>
    <td>{{item.typeGround.nameTypeGround}}</td>
    <td>{{item.area}}</td>
    <td>{{item.statusGround}}</td>
    <td>{{item.price|number}}</td>
    <td>{{item.priceManager|number}}</td>

    <ng-container class="dropdown-menu" aria-labelledby="triggerId" style="overflow-y: scroll;height: 20px">
      <div *ngFor="let contract of contracts">
        <td class="dropdown-item" *ngIf="contract.ground.id==item.id">{{contract.customer.name}}</td>
      </div>
    </ng-container>

    <td>
      <button class="btn btn-info" (click)="openDialogView(item.id)">Xem</button>
    </td>
    <td>
      <button class="btn btn-warning" (click)="openDialogEdit(item.id)">Sửa</button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="openDialogDelete(item.id)">
        Xóa

      </button>
    </td>
  </tr>
  </tbody>

</table>

<nav aria-label="Page navigation example" *ngIf="grounds.length!=0 && totalPages>1">
  <ul class="pagination justify-content-md-center">
    <li class="page-item" *ngIf="pageClicked!=0" (click)="onFirst()"><a class="page-link">Trang đầu</a></li>
    <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
      <a class="page-link"><<</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" (click)="loadData(page)"
        [ngClass]="pageClicked == page ? 'active' : ''">
      <a class="page-link">{{page + 1}}</a>
    </li>
    <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
      <a class="page-link">>></a>
    </li>
    <li class="page-item" *ngIf="pageClicked!=totalPages-1" (click)="onLast()"><a class="page-link">Trang cuối</a></li>
  </ul>
</nav>

<!--<pagination-controls class="pagination justify-content-center" id="listing_pagination" (pageChange)="page = $event"-->
<!--                     previousLabel="Trang trước"-->
<!--                     nextLabel="Trang sau">-->
<!--</pagination-controls>-->










