<!--<div style="margin-left: 99%;margin-top: -2%;" mat-dialog-close>-->
<!--  <i class="fa fa-window-close text-danger fa-2x" aria-hidden="true" title="Thoát"></i>-->
<!--</div>-->
<!--<div class="container">-->
<!--<h2 class="text-center text-danger">Thêm mới khách hàng</h2>-->
<!--<form [formGroup]="addCustomerForm" class="col-md-12">-->
<!--  <fieldset>-->
<!--    <label class="row">-->
<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3">Tên khách hàng(<span style="color: red">*</span>):</p>-->
<!--        <div>-->
<!--          <input type="text" class="form-control col-md-9 ng-valid" formControlName="name">-->
<!--        </div>-->
<!--        <div class="alert alert-danger col-md-9" role="alert" *ngIf="addCustomerForm.get('name').hasError('required')-->
<!--         && addCustomerForm.get('name').touched">Tên  không được để trống.-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3 ">CMND(<span style="color: red">*</span>):</p>-->
<!--        <input type="text" class="form-control col-md-9 ng-valid" formControlName="idCard">-->
<!--        <div class="alert alert-danger col-md-9" role="alert" *ngIf="addCustomerForm.get('idCard').hasError('required')-->
<!--         && addCustomerForm.get('idCard').touched">CMND không được để trống.-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3"> Email(<span style="color: red">*</span>):</p>-->
<!--        <input type="text" class="form-control col-md-9 ng-valid" formControlName="email">-->
<!--        <div class="alert alert-danger col-md-9" role="alert" *ngIf="addCustomerForm.get('email').hasError('required')-->
<!--         && addCustomerForm.get('email').touched">Email không được để trống.-->
<!--        </div>-->
<!--      </div>-->
<!--    </label>-->
<!--    <label class="row">-->
<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3">Số Điện thoại(<span style="color: red">*</span>):</p>-->
<!--        <input type="text" class="form-control col-md-9 ng-valid" formControlName="phone">-->
<!--        <div class="alert alert-danger col-md-9" role="alert" *ngIf="addCustomerForm.get('phone').hasError('required')-->
<!--         && addCustomerForm.get('phone').touched">Số điện thoại không được để trống.-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3">Ngày sinh(<span style="color: red">*</span>):</p>-->
<!--        <input class="form-control" formControlName="birthday" placeholder="Choose a date" matInput-->
<!--               [matDatepicker]="picker1">-->

<!--        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>-->

<!--        <div class="alert alert-danger col-md-9" role="alert" *ngIf="addCustomerForm.get('birthday').hasError('required')-->
<!--         && addCustomerForm.get('birthday').touched">Ngày sinh không được để trống.-->
<!--        </div>-->

<!--      </div>-->
<!--    </label>-->
<!--    <label class="row">-->
<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3">Địa chỉ(<span style="color: red">*</span>):</p>-->
<!--        <input type="text" class="form-control col-md-9 ng-valid" formControlName="address">-->
<!--        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addCustomerForm.get('address').hasError('required')-->
<!--         && addCustomerForm.get('address').touched">Địa chỉ không được để trống.-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3">Website(<span style="color: red">*</span>):</p>-->
<!--        <input type="text" class="form-control col-md-9 ng-valid" formControlName="website">-->
<!--        <div class="alert alert-danger col-md-9" role="alert" *ngIf="addCustomerForm.get('website').hasError('required')-->
<!--         && addCustomerForm.get('website').touched">website không được để trống.-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-12">-->
<!--        <p class="col-md-3">Công Ty(<span style="color: red">*</span>):</p>-->
<!--        <input type="text" class="form-control col-md-9 ng-valid" formControlName="nameCompany">-->
<!--        <div class="alert alert-danger col-md-9" role="alert" *ngIf="addCustomerForm.get('nameCompany').hasError('required')-->
<!--         && addCustomerForm.get('nameCompany').touched">Tên công ty không được để trống.-->
<!--        </div>-->
<!--      </div>-->
<!--    </label>-->
<!--  </fieldset>-->
<!--</form>-->
<!--<label class="row " style="margin-left: 85%;margin-top: 5%">-->
<!--  <button style="margin-right: 15%"  class="btn btn-primary mt-3"-->
<!--          (click)="onAddBuilding()">-->
<!--    <i class="material-icons" data-toggle="tooltip" title="Lưu">done</i>-->
<!--  </button>-->
<!--  <button class="btn btn-danger mt-3" (click)="clearFilters()">-->
<!--    <i class="material-icons" data-toggle="tooltip" title="Hủy">&#xe950;</i>-->
<!--  </button>-->
<!--</label>-->
<!--</div>-->


<div class="container">
  <form [formGroup]="addCustomerForm" id="contact" action="" method="post">
    <h3>Thêm mới khách hàng</h3>

    <fieldset>
      <input placeholder="Tên khách hàng (*) " type="text" tabindex="1" required autofocus formControlName="name">
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('name').hasError('required')
       && addCustomerForm.get('name').touched">Tên không được để trống !!!
      </p>
    </fieldset>


    <fieldset>
      <input placeholder="Số chứng minh thư (*)" type="email" tabindex="2" required formControlName="idCard">
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('idCard').hasError('required')
       && addCustomerForm.get('idCard').touched">CMND không được để trống !!!
      </p>
    </fieldset>

    <fieldset>
      <input placeholder="Email (*)" type="tel" tabindex="3" required formControlName="email">
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('email').hasError('required')
       && addCustomerForm.get('email').touched">Email không được để trống !!!
      </p>
    </fieldset>

    <fieldset>
      <input placeholder="Số điện thoại (*)" type="text" tabindex="4" required formControlName="phone">
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('phone').hasError('required')
       && addCustomerForm.get('phone').touched">Số điện thoại không được để trống !!!
      </p>
    </fieldset>

    <fieldset>
      <input placeholder="Địa chỉ (*)" type="text" tabindex="5" required formControlName="address">
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('address').hasError('required')
       && addCustomerForm.get('address').touched">Số điện thoại không được để trống !!!
      </p>
    </fieldset>

    <fieldset>
      <input placeholder="Website" type="text" tabindex="6" required formControlName="website">
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('website').hasError('required')
       && addCustomerForm.get('website').touched">Website không được để trống !!!
      </p>
    </fieldset>

    <fieldset>
      <input placeholder="Tên công ty (*)" type="text" tabindex="7" required formControlName="nameCompany">
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('nameCompany').hasError('required')
       && addCustomerForm.get('nameCompany').touched">Tên công ty không được để trống !!!
      </p>
    </fieldset>

    <fieldset>
      <input type="text" formControlName="birthday" placeholder="Ngày sinh (*)" matInput tabindex="8" required
             [matDatepicker]="picker1">
      <mat-datepicker-toggle style="color: white" matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
      <p class=" text-danger" role="alert" *ngIf="addCustomerForm.get('birthday').hasError('required')
       && addCustomerForm.get('birthday').touched">Ngày sinh không được để trống !!!
      </p>
    </fieldset>

    <fieldset>
      <button [disabled]="addCustomerForm.invalid"  name="submit" type="submit" id="contact-submit" data-submit="...Sending" (click)="onAddBuilding()">Lưu
      </button>
    </fieldset>
    <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Team C0120G1</a>
    </p>
  </form>
  <!--  <label class="row " style="margin-left: 85%;margin-top: 5%">-->
  <!--    <button style="margin-right: 15%"  class="btn btn-primary mt-3"-->
  <!--            (click)="onAddBuilding()">-->
  <!--      <i class="material-icons" data-toggle="tooltip" title="Lưu">done</i>-->
  <!--    </button>-->
  <!--    <button class="btn btn-danger mt-3" (click)="clearFilters()">-->
  <!--      <i class="material-icons" data-toggle="tooltip" title="Hủy">&#xe950;</i>-->
  <!--    </button>-->
  <!--  </label>-->
</div>


