<h2>Đăng kí tài khoản</h2>
<form action="" [formGroup]="addUserBuildingForm">
<label >Tên tài khoản (<span class="text-danger">*</span>)</label>
<input (keyup)="checkUserName()" type="text" class="form-control" formControlName="username">
  <p class=" text-danger" role="alert" *ngIf="addUserBuildingForm.get('username').hasError('required')
       && addUserBuildingForm.get('username').touched">username không được để trống !!!
  </p>
  <p style="color: red">{{messageUserCheck}}</p>
<label for="" class="mt-3" >Mật khẩu (<span class="text-danger">*</span>)</label>
<input  type="text" class="form-control"  formControlName="passwordUser">
  <p class=" text-danger" role="alert" *ngIf="addUserBuildingForm.get('passwordUser').hasError('required')
       && addUserBuildingForm.get('passwordUser').touched">passwordUser không được để trống !!!
  </p>
  <label for="" class="mt-3" >Nhập lại mật khẩu (<span class="text-danger">*</span>)</label>
  <input  type="text" class="form-control"  formControlName="passwordAgain">
  <p class=" text-danger" role="alert" *ngIf="addUserBuildingForm.errors?.invalid">
    Password doesn't match !!!
</p>

<button class="btn btn-primary mt-2" mat-dialog-close (click)="onAddUserBuilding()"
        [disabled]="addUserBuildingForm.invalid   ||  this.checkValidateUserName === true">Tạo</button>
</form>

