<h3 class="text-muted text-center mb-3 mt-5">THÊM MỚI HỢP ĐỒNG</h3>
<form class="w-75 mx-auto mt-3 col-md-12 offset-md-4" [formGroup]="formAddNewContract">
  <input type="text" hidden class="form-control" formControlName="id" [value]=contractId>
  <input type="text" hidden class="form-control" formControlName="customerId" [(ngModel)]="customerIdPicker">

  <div class="row">
    <div class="form-group col-md-4">
      <p style="font-weight: bold">Mặt bằng(<span style="color: red">*</span>)</p>
      <select class="form-control" formControlName="groundId" style="height: 35px; width: 215px;">
        <option *ngFor="let ground of grounds" [value]="ground.id">{{ground.codeGround}}</option>
      </select>
      <p
        *ngIf="formAddNewContract.controls.groundId.errors?.required && formAddNewContract.controls.groundId.touched"
        class="text-danger">Vui lòng chọn mặt bằng</p>
    </div>


    <div class="form-group col-md-4">
      <p style="font-weight: bold">Họ Và Tên Khách Hàng(<span style="color: red">*</span>)(<a style="color: blue" (click)="openDialogAddNewCustomer()">Đăng kí</a>)</p>
      <!--      <select class="form-control" formControlName="customerId" style="height: 35px; width: 215px;">-->
      <!--        <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>-->
      <!--      </select>-->

      <input type="text" style="height: 35px; width: 215px;" class="form-control"
             placeholder="Nhập để tìm"
             matInput [formControl]="myControl" [matAutocomplete]="auto">
      <p
        *ngIf="formAddNewContract.controls.customerId.errors?.required && formAddNewContract.controls.customerId.touched"
        class="text-danger">Vui lòng chọn khách hàng</p>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filterCustomer | async" [value]="option.name" (click)="pickId(option.id)">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>


    </div>

    <div class="form-group col-md-4">
      <p style="font-weight: bold">Họ Và Tên Nhân Viên(<span style="color: red">*</span>)</p>
      <select class="form-control" formControlName="employeeId" style="height: 35px; width: 215px;">
        <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>
      </select>
      <p
        *ngIf="formAddNewContract.controls.employeeId.errors?.required && formAddNewContract.controls.employeeId.touched"
        class="text-danger">Vui lòng chọn nhân viên</p>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-md-4">
      <p style="font-weight: bold">Kì Hạn(Tháng)</p>
      <input type="text" class="form-control" formControlName="term" disabled [(ngModel)]="termCalculate">
    </div>

    <div class="form-group col-md-4">
      <p style="font-weight: bold">Ngày bắt đầu thuê(<span style="color: red">*</span>)</p>
      <input readonly class="form-control" formControlName="startRentDay" [(ngModel)]="startDayCheck"
             placeholder="Chọn ở dưới"
             matInput
             [matDatepicker]="picker1" (dateChange)="checkValidateTimeInput(startDayCheck,endDayCheck)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
      <p
        *ngIf="(formAddNewContract.controls.startRentDay.errors?.required && formAddNewContract.controls.startRentDay.touched)"
        class="text-danger">Vui lòng chọn ngày bắt đầu thuê
      </p>
      <p
        *ngIf="(formAddNewContract.controls.startRentDay.errors?.required && formAddNewContract.controls.endRentDay.touched)"
        class="text-danger">Vui lòng chọn ngày bắt đầu thuê
      </p>
    </div>

    <div class="form-group col-md-4">
      <p style="font-weight: bold">Ngày kết thúc thuê(<span style="color: red">*</span>)</p>
      <input readonly class="form-control" formControlName="endRentDay"
             [(ngModel)]="endDayCheck" placeholder="Chọn ở dưới"
             matInput
             [matDatepicker]="picker2" (dateChange)="checkValidateTimeInput(startDayCheck,endDayCheck)">

      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
      <p
        *ngIf="formAddNewContract.controls.endRentDay.errors?.required && formAddNewContract.controls.endRentDay.touched"
        class="text-danger">Vui lòng chọn ngày kết thúc thuê
      </p>
      <p *ngIf="messageTimeValidate" class="text-danger">{{messageTimeValidate}}</p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <p style="font-weight: bold">Giá Tiền Mỗi Tháng(VNĐ)(<span style="color: red">*</span>)</p>
      <input type="number" class="form-control" formControlName="price" [(ngModel)]="priceCalculate"
             (keyup)="checkValidateTimeInput(startDayCheck,endDayCheck)">
      <p
        *ngIf="formAddNewContract.controls.price.errors?.required&&formAddNewContract.controls.price.touched"
        class="text-danger">Vui lòng nhập giá tiền để tính được tổng tiền</p>
      <p
        *ngIf="formAddNewContract.controls.price.errors?.required&&formAddNewContract.controls.endRentDay.touched"
        class="text-danger">Vui lòng nhập giá tiền để tính được tổng tiền</p>
      <p
        *ngIf="formAddNewContract.controls.price.errors?.pattern && formAddNewContract.controls.price.touched"
        class="text-danger">Phải là số dương</p>
    </div>

    <div class="form-group col-md-6">
      <p style="font-weight: bold">Tổng Tiền(VNĐ)</p>
      <input type="text" class="form-control" formControlName="total" disabled [(ngModel)]="totalCalculate">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <p style="font-weight: bold">Tiền cọc(VNĐ)</p>
      <input type="text" class="form-control" formControlName="deposits">
    </div>
    <div class="form-group col-md-6">
      <p style="font-weight: bold">Mã số thuế(<span style="color: red">*</span>)</p>
      <input type="text" class="form-control" formControlName="taxCode">
      <p
        *ngIf="formAddNewContract.controls.taxCode.errors?.required && formAddNewContract.controls.taxCode.touched"
        class="text-danger">Vui lòng nhập mã số thuế</p>
    </div>
    <div class="form-group col-md-6">
      <p style="font-weight: bold">Hình ảnh hợp đồng</p>
      <input type="file" (change)="onChange($event.target.files[0])">
      <input type="text" class="form-control" hidden formControlName="urlImage">
    </div>
  </div>
  <div class="form-group">
    <p style="font-weight: bold">Nội dung hợp đồng(<span style="color: red">*</span>)</p>
    <textarea rows="5" type="text" class="form-control" formControlName="content"></textarea>
    <p
      *ngIf="formAddNewContract.controls.content.errors?.required && formAddNewContract.controls.content.touched"
      class="text-danger">Vui lòng nhập nội dung</p>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="statusContract" hidden [(ngModel)]="statusCalculate">
  </div>

  <div class="form-group">
    <mat-checkbox class="form-control" hidden formControlName="unified" value="{{false}}" style="font-weight: bold">Hai bên đã
      thống nhất với hợp đồng
    </mat-checkbox>
  </div>
</form>
<div class="row " style="margin-left: 70%;margin-top: 5%">
  <!--  <button style="margin-right: 5%"  class="btn btn-primary mt-3"-->
  <!--          (click)="addNewContract()">-->
  <button style="margin-right: 5%" [disabled]="formAddNewContract.invalid" class="btn btn-success mt-3"
          (click)="addNewContract()">
    Lưu
  </button>
  <button style="margin-right: 5%" class="btn btn-danger mt-3" (click)="clearFilters()">
    Làm mới
  </button>
  <button class="btn btn-secondary mt-3" routerLink="/contracts/paging">
    Quay về
  </button>
</div>


