/*h2{*/
/*  margin-bottom: 50px;*/
/*}*/
/*form {*/
/*  margin-left: 0px;*/
/*  width: 100%;*/
/*}*/
/*form fieldset{*/
/*  margin-top: 50px;*/
/*}*/
/*form fieldset label {*/
/*  margin-top: 60px;*/
/*}*/
/*form fieldset label div span{*/
/*  float: left;*/
/*}*/
/*form fieldset label div .col-md-10{*/
/*  margin-left: auto;*/
/*  margin-top: 20px;*/
/*  text-align: center;*/
/*}*/
/*mat-form-field {*/
/*  margin-right: 12px;*/
/*}*/
